h1 { 
    color: rgb(87, 33, 14);
}

hr{


        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style:outset;
        border-width: 3px;
        color: rgb(68, 0, 255); 

}


.navbar{

    background-image: url("https://cdn.pixabay.com/photo/2015/02/03/23/41/paper-623167_960_720.jpg") ;
}
